body {
    background-color: #c8c7c7;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    gap: .5rem;
    height: 100vh;
    width: 100vw;
}
header {
    background-color: purple;
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
}
main {
    background-color: aquamarine;
    padding: .5rem;
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex: 1;
}
article {
    background-color: rgb(244, 54, 108);
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
    flex: 1;
}
aside {
    background-color: rgb(80, 116, 235);
    padding: .5rem;
    border-radius: 8px;
    flex: 1;
}
footer {
    background-color: rgb(236, 130, 55);
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    height: 100%;
}

@media screen and (min-width: 480px) {
    header {
        width: 100%;
    }
    .container {
        flex-direction: row-reverse;
    }
    footer {
        width: 100%;
    }
    aside {
        height: 100%;
        flex: 1;
    }
    main {
        flex: 2;
        height: 100%;
    }
}