body {
    background-color: #c8c7c7;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    color: white;
    gap: .5rem;

}
header {
    background-color: purple;
    padding: .5rem;
    border-radius: 8px;
    width: 80%;
}
main {
    background-color: aquamarine;
    padding: .5rem;
    border-radius: 8px;
    width: 80%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: .5rem;
}
article {
    background-color: rgb(244, 54, 108);
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
}
aside {
    background-color: rgb(80, 116, 235);
    padding: .5rem;
    border-radius: 8px;
    width: 80%;
}
footer {
    background-color: rgb(236, 130, 55);
    padding: .5rem;
    border-radius: 8px;
    width: 80%;
}